.container {
    width: 1280px;
    margin: 0 auto;
}

.header-logo {
    display: inline-block;
    margin: 61px 0 45px;
    font-family: sans-serif;
    font-size: 80px;
    color: #4bcaff;
    text-decoration: none;
}

.header-logo-colored {
    color: #000000;
}

.header-menu {
    background-color: #35444f;
    text-align: center;
    margin-bottom: 51px;
}

.header-menu-item {
    display: inline-block;
}

.header-menu-link {
    display: inline-block;
    padding: 26px 41px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 24px;
    color: #ffffff;
}

.header-menu-link:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.main-menu-list {
    display: inline-block;
    width: 344px;
    border: 1px solid;
}

.main-menu-link {
    display: block;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 29px;
    color: #000000;
    padding: 28px 0 28px 44px;
}

.main-menu-link:hover {
    background-color: #dbdbdb;
    padding-left: 69px;
}

.content {
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
    width: 885px;

}
.main-img {
    position: relative;
    display: inline-block;
    width: 885px;
    height: 529px;
    border: 1px solid;
    margin-bottom: 50px;
}

.img {
    position: absolute;
    top: 75px;
    left: 297px;
}

.main-text {
    width: 815px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 18px;
    padding-bottom: 30px;
}

.img:hover {
    transform: scale(1.2);
    transition: 1s;
}

.footer-menu {
    background-color: #b4b7ba;
    height: 69px;
    padding-left: 44px;
    margin-bottom: 30px;
}

.footer-menu-item {
    display: inline-block;
}

.footer-menu-link {
    display: inline-block;
    margin: 22px 10px 21px 0;
    font-family: sans-serif;
    font-size: 28px;
    color: #000000;
    text-decoration: none;
    border: none;
}

.footer-menu-link:hover {
    color: #3181a6;
    border-bottom: 2px solid #3181a6;
}

.copyright {
    display: inline-block;
    margin-left: 167px;
    font-family: sans-serif;
    font-size: 24px;
}